<h1 style="text-align: center;">Find Somewhere To Meet Between Two Places</h1>

<div style="text-align:center;">

<a href="/trips/new" class="btn btn-primary" role="button" style="background-color: black;
color: rgb(0, 197, 255);">New Meetup</a>

</div>
